@tailwind base;
@tailwind components;
@tailwind utilities;


/* .coolcalch1 {
    font-weight:900;
    font-size: 3rem;
    text-align: center;
    width: 66.67%;
    margin-left: auto;
    margin-right: auto;
} */